In [1]:
import numpy as np
scores=np.random.randint(50, 101, size=(3,5)) #3個學生，5個分數
scores

array([[97, 87, 62, 94, 73],
       [73, 60, 85, 92, 63],
       [85, 81, 84, 99, 60]])

In [3]:
#numpy統計
print(np.sum(scores[0]))
print(np.average(scores[0]))

413
82.6

In [7]:
import pandas as pd
df=pd.DataFrame(data=scores, columns=['國文', '英文', '數學', '歷史', '地理'], index=['王XX', '徐XX', '林XX'])
df

     國文  英文  數學  歷史  地理
王XX  97  87  62  94  73
徐XX  73  60  85  92  63
林XX  85  81  84  99  60

In [8]:
df.values

array([[97, 87, 62, 94, 73],
       [73, 60, 85, 92, 63],
       [85, 81, 84, 99, 60]])