In [ ]:
import pandas as pd
series1=pd.Series([80, 90, 75, 65], index=['Chinese', 'English', 'Math', 'History'])
series1

In [ ]:
print(series1.values)
print(series1.index)

In [ ]:
series2=series1+3
print(series2)
print(series2['Chinese'])

In [ ]:
data={
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年分': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df1=pd.DataFrame(data)
df1

In [ ]:
#DataFrame是由三個相同索引的series組成的
print(df1['縣市'])
print(df1['年分'])
print(df1['人口'])

In [18]:
data1=[{'name': '王祥宇', 'weight':70, 'height': 176},
       {'name': '王祥宇', 'weight':70, 'height': 176},
       {'name': '王祥宇', 'weight':70, 'height': 176}
]
df1=pd.DataFrame(data1)
df1

  name  weight  height
0  王祥宇      70     176
1  王祥宇      70     176
2  王祥宇      70     176