##pandas整理資料的方法

In [3]:
#reindex()
s1=pd.Series([4.5, 3.4, -21, 98], index=['a', 'b', 'c', 'd'])
s1

a     4.5
b     3.4
c   -21.0
d    98.0
dtype: float64

In [4]:
s1.reindex(index=['b', 'c'])

b     3.4
c   -21.0
dtype: float64

In [5]:
import numpy as np
df1=pd.DataFrame(np.arange(9).reshape(3,3), index=['a', 'c', 'd'], columns=['Taipei', 'Kaohsiung', 'Taichung'])
df1

   Taipei  Kaohsiung  Taichung
a       0          1         2
c       3          4         5
d       6          7         8

In [6]:
df1.reindex(['a', 'c'])

   Taipei  Kaohsiung  Taichung
a       0          1         2
c       3          4         5

In [7]:
df1.reindex(index=['a', 'c'], columns=['Taichung', 'Kaohsiung'])

   Taichung  Kaohsiung
a         2          1
c         5          4

##drop() 刪除欄位或索引

In [8]:
s2=pd.Series([5.5, -3.4, 23.1, 99.8], index=['a', 'b', 'c', 'd'])
s2

a     5.5
b    -3.4
c    23.1
d    99.8
dtype: float64

In [9]:
s2.drop('c')

a     5.5
b    -3.4
d    99.8
dtype: float64

In [10]:
s2.drop(['a', 'c'])

b    -3.4
d    99.8
dtype: float64