In [2]:
import pandas as pd
df1=pd.read_csv('各鄉鎮市區人口密度.csv')
df1

,statistic_yyy,site_id,people_total,area,population_density
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

##pandas整理資料的方法

In [3]:
#reindex()
s1=pd.Series([4.5, 3.4, -21, 98], index=['a', 'b', 'c', 'd'])
s1

a     4.5
b     3.4
c   -21.0
d    98.0
dtype: float64

In [4]:
s1.reindex(index=['b', 'c'])

b     3.4
c   -21.0
dtype: float64

In [5]:
import numpy as np
df1=pd.DataFrame(np.arange(9).reshape(3,3), index=['a', 'c', 'd'], columns=['Taipei', 'Kaohsiung', 'Taichung'])
df1

   Taipei  Kaohsiung  Taichung
a       0          1         2
c       3          4         5
d       6          7         8

In [6]:
df1.reindex(['a', 'c'])

   Taipei  Kaohsiung  Taichung
a       0          1         2
c       3          4         5

In [7]:
df1.reindex(index=['a', 'c'], columns=['Taichung', 'Kaohsiung'])

   Taichung  Kaohsiung
a         2          1
c         5          4

##drop() 刪除欄位或索引

In [8]:
s2=pd.Series([5.5, -3.4, 23.1, 99.8], index=['a', 'b', 'c', 'd'])
s2

a     5.5
b    -3.4
c    23.1
d    99.8
dtype: float64

In [9]:
s2.drop('c')

a     5.5
b    -3.4
d    99.8
dtype: float64

In [10]:
s2.drop(['a', 'c'])

b    -3.4
d    99.8
dtype: float64